.center{

    display:flex;
    color: brown;
    flex-direction: row;
    margin: 1px;
    padding: 25px 8px 5px 55px;
    justify-content: center;
    background-color: lightslategray;

}

.parent{
   /* display: flex; */
    border: 10px solid brown;
     margin: 12px;
    padding: 10px 100px 100px 100px;
    justify-content: center;
   

}
li.center{

    display:flex;
    color: brown;
    align-content: center;
    margin: 1px;
    font-size: large;

}

.images{
    /* display: flex; */
    color: blue;
    margin: 10px;
    text-align: start;
    padding: 50px 10 px 50px 10px;
    border: 10px dashed burlywood;
    height: 190px;
    width: 200px;
    font-size: 12px;

    

}
.button{
    text-align: center;
    margin-top: 30px;
}


.test{
    display: flex;
    color: darkolivegreen;
    font-size: medium;
    
    
    
}
.image2{
    display: flex; 
    align-content: flex-end;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 20px;
    justify-content: space-around;
   border-width: 10px solid brown;
   width: 50%;
   height: 50%;
    
}
.col1{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    margin: 5px;
}
.column{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    margin: 5px;
}
.col2{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    margin: 5px;
}
.col3{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    margin: 5px;
}
.row{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    margin: 5px;
}
.row1{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    margin: 5px;
}

.page{
    color: darkolivegreen;
    align-items: center;
    font-size: medium;

}


h1{
    color: blueviolet;
    text-align: center;
   
}
body{
    background-color: cyan;
}

.end{
    display: flex;
   margin-left: auto;
   margin-right: auto;

    
    
}